/*
 * SPDX-FileCopyrightText: 2017-2023 Joonas Javanainen <joonas.javanainen@gmail.com>
 *
 * SPDX-License-Identifier: MIT
 */

@import '../common';

.listing-entry-cell {
  &__primary {
    @include media(desktop) {
      font-size: 16px;
    }
  }
  &__text {
    flex: 0 1 auto;
  }
  &__contributor {
    font-style: italic;
  }
  &__photo {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  &__placeholder {
    width: 50px;

    @include media(desktop) {
      width: 80px;
    }
  }
}
