@import '../common';

.site-header {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10px;
  color: white;
  background-color: $main-color;

  &__title {
    font-size: 20px;
    padding: 10px 0 0 0;
    margin: 0;
    @include media(desktop) {
      font-size: 26px;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    aside {
      font-size: 10px;
    }
  }
  &__primary {
    @include media(tablet) {
      display: flex;
    }
  }
}

.site-primary-nav, .site-secondary-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: stretch;
    color: #fff;
    background-color: $main-color-3;
  }
  li {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    align-items: center;

    &.active {
      background-color: $main-color-2;
    }

    a {
      flex: 1 1 auto;
      display: block;
      padding: 5px 10px;
      color: inherit;
      text-decoration: none;
    }
  }
}

.site-primary-nav {
  margin-top: 10px;
  @include media(tablet) {
    margin: 0 40px;
    align-self: flex-start;
  }

  ul {
    @include media(tablet) {
      border-radius: 0 0 5px 5px;
    }
  }
  li {
    @include media(tablet) {
      border-radius: 0 0 5px 5px;
    }
    a {
      display: block;
      font-size: 20px;
      padding: 10px 20px;

      @include media(desktop) {
        font-size: 22px;
      }
    }
  }
}

.site-secondary-nav {
  border-bottom: 5px solid $main-color-2;
  margin-top: 10px;
  @include media(tablet) {
    border-radius: 5px 5px 0 0;
  }
  ul {
    flex-wrap: wrap;

    @include media(tablet) {
      flex-wrap: nowrap;
    }
  }
  li {
    @include media(tablet) {
      border-radius: 5px 5px 0 0;
    }

    strong {
      display: block;
      font-size: 14px;

      @include media(desktop) {
        font-size: 16px;
      }
    }

    .name {
      display: none;
      font-size: 10px;

      @include media(tablet) {
        display: block;
      }
      @include media(desktop) {
        font-size: 12px;
      }
    }
  }
}
