@import '../../node_modules/normalize.css/normalize';
@import 'common';
@import 'components/ConsoleListingChip';
@import 'components/ConsolePageChip';
@import 'components/SiteFooter';
@import 'components/SiteHeader';

* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
  font-family: 'Lato', sans-serif;
  color: #000;
  background-color: $main-color-1;
}

.site-main {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10px;

  &__content {
    padding: 20px 10px;
    background-color: #fff;
    color: $main-color-4;
    overflow-x: auto;
    box-shadow: 0 2px 5px 2px $main-color-2;

    @include media(desktop) {
      overflow-x: inherit;
    }
  }
}

table {
  width: 100%;
  font-size: 12px;
  margin: 15px 0;
  border-collapse: collapse;
  border: 1px $main-color-2 solid;
  box-shadow: 0 1px 2px $main-color-2;
}
td, th {
  padding: 5px;
  text-align: left;
}
thead > tr {
  color: #fff;
  background-color: $main-color-3;
}
tbody > tr:nth-child(even) {
  background-color: #f0f0f0;
}

.page-sgb-console, .page-sgb2-console, .page-agb-console, .page-oxy-console {
  &__photo {
    img {
      max-width: 50%;
      max-height: 200px;

      @include media(tablet) {
        max-height: 260px;
      }

      @include media(desktop) {
        max-height: 400px;
      }
    }
  }
}

.submission-list-item {
  &__link {
    display: flex;
    align-items: center;
  }
  &__id {
    flex: 0 1 auto;
  }
  &__contributor {
    font-style: italic;
  }
  &__photo {
    flex: 0 0 auto;
    margin-right: 10px;
  }
}
