# SPDX-FileCopyrightText: 2017-2023 Joonas Javanainen <joonas.javanainen@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

name: ci
on:
  pull_request:
  push:
    branches:
    - master

concurrency: 
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build site (+ deploy if building master)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Check for unintended local changes (e.g. incorrect use of Git LFS)
        run: git diff --exit-code
      - name: Install stable toolchain
        run: |
          rustup toolchain install stable --profile minimal
          rustup default stable
      - name: Cache dependencies
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
        with:
          cache-on-failure: true
      - name: Build
        run: cargo build --all --release
      - name: Test
        run: cargo test --all --release
      - name: Run site generation
        run: cargo run --release --bin gbhwdb-site
      - name: Run site deployment
        if: github.ref == 'refs/heads/master' && github.repository == 'Gekkio/gb-hardware-db'
        run: target/release/gbhwdb-deploy
        env:
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
          S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
